$primary: rgb(93, 217, 93);
$secondary: rgb(69, 74, 77);

.contact {
  .container {
    display: flex;
    flex-direction: column;
    font-family: 'Itim', cursive;
    .contact__container {
      display: flex;
      height: 400px;
      margin: auto;
      .branch__offices {
        flex: 1;
        overflow: hidden;
        .carousel__track {
          display: flex;
          width: 400%;
          .carousel__card {
            width: 100%;
            display: flex;
            flex-direction: column;
            .card__img {
              height: 65%;
              box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
            .card__body {
              padding-top: 20px;
            }
          }
        }
      }
      .form__container {
        padding: 1rem;
        flex: 1;
        padding-top: 0;
        h2 {
          text-align: center;
          margin-top: 0;
          padding-top: 0;
          padding-bottom: 20px;
        }
        .form__control_contact {
          display: block;
          margin-bottom: 10px;
          label {
            display: block;
            font-size: 1.2rem;
            padding-bottom: 10px;
          }
          input,
          textarea {
            display: block;
            width: 100%;
            border: 1px solid $secondary;
            padding: 10px 5px;
            outline: 1px solid $secondary;
          }
          textarea {
            resize: none;
          }
        }
        button {
          width: 100%;
          background-color: $secondary;
          color: #fff;
          padding: 7px 0;
          cursor: pointer;
          outline: none;
          font-weight: bold;
          font-size: 1.2rem;
          letter-spacing: 2px;
          &:hover {
            transform: translateY(-2px);
            box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease-in;
          }
          &:active {
            transform: translateY(1px);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease-in;
          }
        }
      }
    }
  }
}
