.login__form {
  width: 100%;
  margin-top: 10px;
}
.login__form > small {
  color: rgb(223, 96, 96);
}
.form__control_login {
  width: 100%;
  padding: 10px 0;
}

.form__control_login > label {
  padding-bottom: 5px;
  display: block;
}

.form__control_login > input,
.form__control_login > select,
.form__control_login > textarea {
  width: 100%;
  padding: 8px 10px;
  font-size: 1em;
  border: 1px solid var(--secondary);
  border-radius: 20px;
  outline: 0;
}

.form__control_login > textarea {
  font-size: 1.2em;
  resize: none;
}

.form__control_login > button {
  width: 80%;
  display: block;
  margin: 10px auto;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  border: 0;
}
.form__control_login > button:hover {
  background-color: rgb(93, 217, 93), rgba(255, 255, 255, 0.25);
}
.form__control_login > select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  background: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.form__footer_link {
  width: 100%;
  display: block;
  text-align: center;
}
.form__footer_link > span {
  color: var(--primary);
  cursor: pointer;
}
.form__register_upload {
  display: flex;
  align-items: center;
}
.form__register_upload > label {
  border: none;
  border-left: none;
  position: relative;
  left: -25px;
  border-radius: 25px;
  padding-left: 25px;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
}
.form__register_upload > label > .register__uploader {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.form__register_upload > label > .register__uploader_info {
  font-size: 1.1em;
}
.form__register_upload > label > .register__uploader_btn {
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.7rem;
}
